<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>openhouse2018.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E8866F8200475D20090BCAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E88670C200475D20090BCAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E886717200475D20090BCAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
