<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>384632715148-jlr77nlsopip7a5tk0ucfhmsnvq8ohof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384632715148-jlr77nlsopip7a5tk0ucfhmsnvq8ohof</string>
	<key>API_KEY</key>
	<string>AIzaSyDoNp9E-ieD2Ooix-179gxhNNw0X7ibRgw</string>
	<key>GCM_SENDER_ID</key>
	<string>384632715148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.robinvvinod.openhouse2018</string>
	<key>PROJECT_ID</key>
	<string>open-house-2018-935b3</string>
	<key>STORAGE_BUCKET</key>
	<string>open-house-2018-935b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384632715148:ios:777ca031de973e5a</string>
	<key>DATABASE_URL</key>
	<string>https://open-house-2018-935b3.firebaseio.com</string>
</dict>
</plist>